.element-layouts {
	background-color: $white;
	@include clearfix;
	.element-section {
		&.narrow_container {
			.container-max {
				max-width: 800px;
				margin: auto;
				padding: 0;
			}

		}
	}
	.container-max {
		@include clearfix;
	}
}