$brown:			#f0e4b2;
$lblue:			#7897ab;
$dblue:			#013c4d;
$red:			#fa4238;
$cream:			#faf6e6;
$black:			#222222;
$white:			#ffffff;
$white2:		#eeeeee;
$gray:			#888888;

$blue:			#013c4d;

$bodyfont:		'Work Sans', sans-serif;
$displayfont:	'Teko', sans-serif;

$container-lg:	1280px;