.post__hero--full {
	height: 50vh;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.post__title {
	margin-bottom: 1rem;
}
article {
	max-width: 760px;
	padding-top: 3rem;
	margin: auto;
	p {
		margin-bottom: 2.5rem;
	}
}
aside {
	padding: 3rem 0 3rem 3rem;
}
.post__content {
	padding-top: 3rem;
}
.post__author {
	margin-right: .25rem;
}
.post__date {
	margin-left: .25rem;
	font-weight: 300;
}
.post__recent-posts {
	list-style-type: none;
	padding-left: 0;
	li {
		margin-bottom: 2.5rem;
	}
}
.post__link {
	display: block;
	@include clearfix;
	* {
		color: initial;
	}
	&:hover {
		text-decoration: none;
	}
}
.post__preview {
	background: $white;
	margin-bottom: 3rem;
	.button {
		font-size: 2rem;
		margin-bottom: 2rem;
	}
}
.post__preview__thumbnail {
	width: 300px;
	min-height: 280px;
	float: left;
	@include bg-size;
}
.post__preview__thumbnail--grid {
	min-height: 240px;
	@include bg-size;
}
.post__preview__details {
	width: calc(100% - 300px);
	float: right;
	padding: 3rem;
}
.post__preview__details--grid {
	padding: 2rem;
}
.post__preview__title--grid {
	font-size: 2rem;
	margin-bottom: 1rem;
}
.post__preview__title--three {
	font-size: 2.2rem;
	margin-bottom: 1rem;
}
.post__preview__title--thumbnail {
	margin-bottom: 1rem;
}
.post__preview__author--grid {
	font-size: 1.2rem;
	color: gray;
	font-weight: 300;
	margin-bottom: .5rem;
}
.post__preview__author--three {
	font-size: 1.2rem;
	color: gray;
	font-weight: 300;
	margin-bottom: 2rem;
}
.post__preview__author--thumbnail {
	font-size: 1.4rem;
	color: gray;
	font-weight: 300;
	margin-bottom: 2rem;
}
.post__preview__details--three {
	padding: 2rem 0;
}
.post__preview__excerpt--three {
	font-size: 1.5rem !important;
	margin-bottom: 0;
}
.post--sidebar {
	article {
		float: left;
		width: 75%;
	}
	aside {
		float: right;
		width: 25%;
	}
}
main.blog {
	background: $white2;
	padding-top: 5rem;
}
.form__background {
	padding-top: 5rem;
	@include bg-size;
	@include bg-overlay(.6);
	.button {
		@extend .button;
		font-family: $bodyfont;
		text-transform: uppercase;
	}
	h1 {
		color: white;
		text-align: center;
	}
}
.form__wrapper--background {
	max-width: 500px;
	margin: auto;
	padding-top: 5rem;
	padding-bottom: 15rem;
}
.hero__image {
	@include bg-size;
	//@include bg-overlay(.35);
}
.hero__content {
	padding-top: 20rem;
	padding-bottom: 20rem;
	max-width: 900px;
	h1 {
		font-size: 6rem;
		text-transform: uppercase;
	}
	.button {
		margin-top: 2rem;
	}
}
.whyus {
	padding: 5rem 0;
}
.grid--three {
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 3rem;
}
.column {
	padding: 2rem;
}
.column--center {
	@extend .column;
	text-align: center;
}
@media(max-width: 767px) {
	.post__preview__thumbnail {
		float: none;
		width: 100%;
	}
	.post__preview__details {
		float: none;
		width: 100%;
	}
	.hero__content {
		padding-top: 10rem;
		padding-bottom: 10rem;
	}
	.grid--three {
		grid-template-columns: 1fr;
	}
}